<!DOCTYPE html>
<html lang="en">
<head>
  <title>CuDIS</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/b_data_style.css')}}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>

<body>
	<div>
  <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <h2 class="navbar-brand header_style_nav">CuDIS</h2>
    </div>
    <ul class="nav navbar-nav">
      <li ><a href="{{url_for('data')}}">Data</a></li>
      <li ><a href="#">Result</a></li>
      <li><a href="{{url_for('home_again')}}">Home</a></li>
    </ul>
  </div>
</nav>
</div>



<div class="container">
  <p><b>We are students of National Institute of Technology,Calicut. Please click the links under the images to know more about us.</b><p>
  </div>
<div class="row">

<div class="col-lg-4 col-md-4 col-xs-4 thumb">
    <a class="thumbnail" href="{{url_for('drrajinikanth')}}">
        <img class="img-responsive" src="static\images\Dr.rajinikanth_resized.jpg" alt="Sairam">
        <p><b>Dr.RAJANIKANTH J K</b></p>
    </a>
</div>
<div class="col-lg-4 col-md-4 col-xs-4 thumb">
    <a class="thumbnail" href="{{url_for('pradeep')}}">
        <img class="img-responsive" src="static\images\Pradeep_resized.jpg" alt="Pradeep">
        <p><b>PRADEEP VARATHAN</b>

</p>
    </a>
</div>
<div class="col-lg-4 col-md-4 col-xs-4 thumb">
    <a class="thumbnail" href="{{url_for('sairam')}}">
        <img class="img-responsive" src="static\images\Sairam_resized.jpg" alt="Sairam">
        <p><b>SAIRAM</b></p>
    </a>
</div>
<div class="col-lg-4 col-md-4 col-xs-4 thumb">
    <a class="thumbnail" href="{{url_for('ridhanya')}}">
        <img class="img-responsive" src="static\images\Ridhanya_resized.jpg" alt="Ridhanya">
        <p><b>RIDHANYA SREE B</b></p>
    </a>

</div>

<div class="col-lg-4 col-md-4 col-xs-4 thumb">
    <a class="thumbnail" href="{{url_for('angela')}}">
        <img class="img-responsive" src="static\images\Angela_resized.jpg" alt="Angela">
        <p><b>ANGELA JAIN AJEESH</b>

</p>
        
    </a>
</div>
<div class="col-lg-4 col-md-4 col-xs-4 thumb">
    <a class="thumbnail" href="{{url_for('anubhav')}}">
        <img class="img-responsive" src="static\images\Anubhav2_resized.jpg" alt="Anubhav">
        <p><b>ANUBHAV MISHRA</b></p>
    </a>
</div>
<div class="col-lg-4 col-md-4 col-xs-4 thumb">
    <a class="thumbnail" href="{{url_for('himanshu')}}">
        <img class="img-responsive" src="static\images\Himanshu1_resized.jpg" alt="Himanshu">
        <p><b>HIMANSHU</b></p>
    </a>
</div>
<div class="col-lg-4 col-md-4 col-xs-4 thumb">
    <a class="thumbnail" href="{{url_for('raidha')}}">
        <img class="img-responsive" src="static\images\Raidha_resized.jpg" alt="Raidha">
        <p><b>RAIDHA ANWAR</b></p>


    </a>
</div>
</div>
</body>