<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/b_data_style.css')}}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body >

<div class="container-center">
  <h2 class="header">Organelle-Mitochondria</h2>
  <form action="{{url_for('data_collect')}}">
    <div class="form-group">
      <label for="text">Gene</label>
      <input type="text" class="form-control" id="text" placeholder="Enter gene name" name="gene">
    </div>
    
    <div class="checkbox">
      <label><input type="checkbox" name="history">show history</label>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>
</div>

</body>
</html>
