<!DOCTYPE html>
<html lang="en">
<head>
  <title>CuDIS</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/b_data_style.css')}}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>

<body>
	<div>
  <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <h2 class="navbar-brand header_style_nav">CuDIS</h2>
    </div>
    <ul class="nav navbar-nav">
      <li ><a href="{{url_for('data')}}">Data</a></li>
      <li ><a href="#">Result</a></li>
      <li><a href="{{url_for('home_again')}}">Home</a></li>
    </ul>
  </div>
</nav>
</div>

<div class="container">
  <div>
      <img class="img-responsive" src="static\images\Raidha_resized.jpg" alt="Raidha" width=200 height=100>
        <p><b>RAIDHA ANWAR</b></p>
    <p>Hi, I am Raidha Anwar, currently pursuing Biotechnology at NITC. I love the field of genetic engineering, and one day, wish to contribute to it. I am an avid reader and a basketball player.</p>
  </div>
</div>
</body>