<!DOCTYPE html>
<html lang="en">
<head>
  <title>CuDIS</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/b_data_style.css')}}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>

<body>
	<div>
  <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <h2 class="navbar-brand header_style_nav">CuDIS</h2>
    </div>
    <ul class="nav navbar-nav">
      <li ><a href="{{url_for('data')}}">Data</a></li>
      <li ><a href="#">Result</a></li>
      <li><a href="{{url_for('home_again')}}">Home</a></li>
    </ul>
  </div>
</nav>
</div>

<div class="container">
  <div>
    <img class="img-responsive" src="static\images\Sairam_resized.jpg" alt="Sairam" width=200 height=100>
        <p><b>SAIRAM</b></p>
    <p>Undergrad biotechnology student from NIT Calicut and now a graduate student in bioinformatics at IUPUI, and have always been an enthusiast when it comes over to the fields of interest, including bioinformatics and rudimentary biology. Hoping to contribute more to health care to accelerate development.</p>
  </div>
</div>
</body>