<!DOCTYPE html>
<html lang="en">
<head>
  <title>CuDIS</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/b_data_style.css')}}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body class="Basic_style">
  <div>
  <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <h2 class="navbar-brand header_style_nav">CuDIS</h2>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Search</a></li>
      
      <li><a href="{{url_for('home_again')}}">Home</a></li>
      <li ><a href="#">Results</a></li>
    </ul>
  </div>
</nav>
</div>
 <div class="form-style-data">
<div class="container col-md-4 col-md-offset-4 ">
  <h2 class="header">Organelle-Mitochondria</h2>
  <form action="{{url_for('data_collect')}}" method="POST">
    <div class="form-group">
      <label for="text">Gene:</label>
      <input type="text" class="form-control" id="text" placeholder="Enter gene name" name="gene">
    </div>
    
    <!--div class="checkbox">
      <label><input type="checkbox" name="history">show history</label>
    </div-->
    <button type="submit" class="btn btn-default">Submit</button>
  </form>
</div>
</div> 


 <body>
      <table border = 1>
         <thead>
            <td style="text-align:center"><b>Transcription Factors</b></td>
            

         </thead>
         
         {% for r in row %}
            <tr>
               <td style="text-align:center">{{r["Transcription Factors"]}}</td>   
               
            </tr>
         {% endfor %}
      </table>
     </body>
<div>
  <li><a href="{{url_for('genelist')}}">LIST OF AVAILABLE GENES</a></li>
  <li><a href="{{url_for('drug_table')}}">DRUG LIST</a></li>
  <li><a href="{{url_for('mirna')}}">miRNA DATA</a></li>
  <li><a href="{{url_for('data')}}">RETURN BACK TO NORMAL</a></li></div>
  <li><a href="{{url_for('home_again')}}">RETURN TO HOME</a></li>
</div>
   
</html>